services:
  backend:
    image: masoom007/mern-backend:v1
    build:
      context: ./server
      dockerfile: Dockerfile
    expose:
      - "3001"
    env_file:
      - .env
    depends_on:
      - mongo
    networks:
      - mern-net

  mongo:
    image: mongo:7
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-net

  nginx:
    image: masoom007/mern-nginx:v1
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "90:80"
    depends_on:
      - backend
    networks:
      - mern-net

volumes:
  mongo-data:

networks:
  mern-net:
    driver: bridge