version: "3.9"

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: backend
    expose:
      - "3001"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - ./server/public/assets:/app/public/assets
    networks:
      - mern-net

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-net

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx
    ports:
      - "90:80"
    depends_on:
      - backend
    networks:
      - mern-net

volumes:
  mongo-data:

networks:
  mern-net:
    driver: bridge
