apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      - job_name: "backend"
        static_configs:
          - targets:
              - backend.default.svc.cluster.local:3001

      - job_name: "node-exporter"
        static_configs:
          - targets:
              - node-exporter.monitoring.svc.cluster.local:9100

      - job_name: "kube-state-metrics"
        static_configs:
          - targets:
              - kube-state-metrics.monitoring.svc.cluster.local:8080
